@import 'tailwindcss';

@theme {
  --color-primary: #667eea;
  --color-secondary: #764ba2;
  --color-danger: #ff4757;
}

@layer components {
  .custom-checkbox {
    @apply border-primary relative h-6 w-6 cursor-pointer appearance-none rounded-md border-2 transition-all duration-300;
  }

  .custom-checkbox:checked {
    @apply bg-primary;
  }

  .custom-checkbox:checked::after {
    content: '✓';
    @apply absolute inset-0 flex items-center justify-center text-base font-bold text-white;
  }
}
